html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fondo_.jpg');
    background-color: rgba(72, 12, 87, 0.6);
    background-blend-mode: darken;
    background-position: center;
    background-size: cover;
}

a {
    text-decoration: none;
}

hr {
    width: 50;
    border: 1px solid rgba(72, 12, 87, 0.6);
}

input {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    height: auto;
    width: 100%;
}

textarea {
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    height: 100px;
    width: 100%;
}

.contenedor_blanco {
    background-color: rgb(240, 237, 233);
    padding: 20px;
    border-radius: 10px;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.formulario_c {
    margin: auto;
    color: rgba(72, 12, 87, 0.9);
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.boton_morado {
    align-self: center;
    width: 80px;
    height: 40px;
    border-radius: 20%;
    background-color: rgb(72, 12, 87, 0.7);
    border: none;
    cursor: pointer;
    overflow: hidden;
    margin: 5px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #f5f5dc;
    font-weight: bold;
}

.boton_morado img {
    width: 30%;
    height: auto;
    object-fit: cover;
}

.boton_morado:hover {
    scale: 1.1;
    background-color: rgb(72, 12, 87, 0.9);
}

.iciono_redes {
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 10%;
    border: none;
    cursor: pointer;
    overflow: hidden;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iciono_redes img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

.iciono_redes:hover {
    scale: 1.1;
}

.contenedor_redes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: auto;
    margin: 0;
    margin-bottom: 10%;
}

/* aprtado del topic */
.modos_de_juego {
    display: block;
    margin: 0px;
    padding: 0px;
    color: rgba(72, 12, 87, 0.6);
    text-align: justify;
    font-weight: bold;
    font-size: 1.4em;
}

.modos_de_juego img {
    float: left;
    margin: 10px;
}

.dardos {
    margin: 10px;
    width: 20%;
    height: 20%;
    object-fit: cover;
}

.titulos {
    font-size: 4em;
    color: rgba(72, 12, 87, 0.9);
    font-weight: bold;
    text-align: center;
}

.targeta_morada {
    margin: 10px;
    padding: 10px;
    border-radius: 10%;
    background-color: rgba(72, 12, 87, 0.6);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.titulo_tarjeta {
    font-weight: bold;
    font-size: 1.4em;
    color: #f5f5dc;
    text-decoration: underline;
    margin-bottom: 0%;
}

.lista_ {
    font-weight: bold;
    font-size: 1.2em;
    color: #f5f5dc;
    list-style-type: none;
}

.lista_ li::before {
    content: '→';
    margin-right: 10px;
    color: #f5f5dc;
}

